// Media queries
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

// Mixins
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@font-face {font-family: 'Adieu-Black';src: url('https://www.grapefestival.sk/fonts/Adieu-Black.eot');src: url('https://www.grapefestival.sk/fonts/Adieu-Black.eot?#iefix') format('embedded-opentype'),url('https://www.grapefestival.sk/fonts/Adieu-Black.woff2') format('woff2'),url('https://www.grapefestival.sk/fonts/Adieu-Black.woff') format('woff');}
@font-face {font-family: 'NeurialGrotesk-Regular';src: url('https://www.grapefestival.sk/fonts/37CB68_0_0.eot');src: url('https://www.grapefestival.sk/fonts/37CB68_0_0.eot?#iefix') format('embedded-opentype'),url('https://www.grapefestival.sk/fonts/37CB68_0_0.woff2') format('woff2'),url('https://www.grapefestival.sk/fonts/37CB68_0_0.woff') format('woff'),url('https://www.grapefestival.sk/fonts/37CB68_0_0.ttf') format('truetype');}



$gray: #343a40;
$pink: #fc3f5d;
$white: #FFFFFF;

html, body {
  margin:0;
  padding:0;
  height: 100%;
}

body {  
  color: $pink;
  font-family: "NeurialGrotesk-Regular", Helvetica, Arial;  
	font-size: 16px;
}

a {
  color:$pink;  
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Adieu-Black", Helvetica, Arial;  
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 16px;
}

#app {
  min-width: 320px;
  min-height: 600px;
  height: 100%;
  width:100%;  
  position: relative;
  
  #menu-toggle {
    position:fixed;
    right:0;
    top:30px;
    padding:0px;
    z-index: 1000;
    &:focus {
      outline: 0;
    }
  }

  #viewer {
    position: absolute;
    width:100%;
    height:100%;  
    
    .watermark {
      position:absolute;
      left:20px;
      bottom:20px;
      z-index: 1000;
    }
  }
  
  #menu {
    display:none;
    //margin: 15px;
    &.open {
      display:block !important;
    }
    &.closed {
      display:none !important;
    }

    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    z-index:2;
    right:0;
    width:90%;
    height:80%;
    max-width:400px;
    max-height: 800px;
    overflow: scroll;    
    .inner {
      padding: 30px;
    }
    ul {
      margin:0;
      padding: 50px 30px 30px 30px;
      
      @include for-tablet-portrait-up {
        padding: 50px 30px 30px 30px;
      }

      @include clearfix;

      li {
        list-style:none;        
        padding: 0 0 10px 0;        
        margin-bottom: 10px;
        float:left;
        width:50%;
      }

      &.icons {
        padding: 30px 10px 10px 10px;

        li {          
          padding: 50px 0 10px 0;
          text-align: center;
          width:33%;
          .icon {
            background-image: url("../files/icon.svg");
            background-repeat: no-repeat;
            background-position: 50% 0;
            display: block;
            width: 100%;
            height:40px;
            &.redbull {
              background-image: url("../files/redbull.svg");
            }
          }
        }

      }
          
    }

  }

}

// Hamburger menu https://github.com/jonsuh/hamburgers#sass
@import "./_sass/hamburgers/hamburgers";

.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after, 
.hamburger.is-active .hamburger-inner, 
.hamburger.is-active .hamburger-inner::before, 
.hamburger.is-active .hamburger-inner::after {
  background-color: $pink;
}