// Media queries
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

// Mixins
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

$gray: #343a40;
$pink: #fc3f5d;

html, body {
  margin:0;
  padding:0;
  height: 100%;
}

body {
  font-family: sans-serif;
  color: $gray;
  background-color: $pink; 
}

a {
  color:$gray;  
}



#app {
  min-width: 320px;
  min-height: 600px;
  height: 100%;
  width:100%;  
  position: relative;
  
  #menu-toggle {
    position:fixed;
    right:15px;
    bottom:15px;
    padding:20px;      
    background:white;
    z-index: 1000;
  }

  #viewer {
    position: absolute;
    width:100%;
    height:100%;        
  }
  
  #menu {
    display:none;
    margin: 15px;
    &.open {
      display:block !important;
    }
    &.closed {
      display:none !important;
    }

    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    right:0;
    width:90%;
    height:80%;
    max-width:400px;
    max-height: 800px;
    overflow: scroll;    
    
    ul {
      margin:0;
      padding: 100px 30px 30px 30px;
      
      @include for-tablet-portrait-up {
        padding: 100px 30px 30px 30px;
      }

      @include clearfix;

      li {
        list-style:none;        
        padding: 0 0 10px 0;        
        margin-bottom: 10px;
        float:left;
        width:50%;
      }

      &.icons {
        padding: 30px 10px 10px 10px;

        li {
          padding: 50px 0 10px 0;
          text-align: center;
          width:33%;
        }

      }
          
    }

  }

}

// Hamburger menu https://github.com/jonsuh/hamburgers#sass
@import "./_sass/hamburgers/hamburgers";